{{#each ballers.ballers}}

  <h2> Name: {{first_name}} {{last_name}}</h2>
  <h3> Team: {{team}} </h3>
  <h3> Position: {{position}} </h3>
  <ul>
    <li>Bucketz: {{buckets}} </li>
    <li>RPG: {{rpg}} </li>
    <li>APG: {{apg}} </li>
    <li>Sponsors: {{sponsors}} </li>
    <li>Shoes: {{shoes}} </li>
    <li>Catchphrase: {{catchphrase}} </li>
  </ul>





{{/each}}
