{{#each ballers as |baller|}}

<div class="card">
<div class="card-block">
    <h1> Baller ID #{{baller.id}}</h1>
    <h1> Name: {{first_name}} {{last_name}}</h1>
  <ul> Team: {{team}} </ul>
  <ul> Position: {{position}} </ul>
    <ul>Points Per Game: {{buckets}} </ul>
    <ul>Rebounds Per Game: {{rpg}} </ul>
    <ul>Assists Per Game: {{apg}} </ul>
    <ul>Sponsors: {{sponsors}} </ul>
    <ul>Shoes: {{shoes}} </ul>
    <ul>Catchphrase: {{catchphrase}} </ul>
</div>
</div>

{{/each}}
