{{#each ballers.ballers}}

  <h2> Name: {{first_name}} {{last_name}}</h2>
  <h3> Team: {{team}} </h3>
  <ul>
    <li>Bucketz: {{buckets}} </li>
    <li>RPG: {{rpg}} </li>
    <li>APG: {{apg}} </li>
    <li>Sponsors: {{sponsors}} </li>
    <li>APG: {{shoes}} </li>
    <li>APG: {{catchphrase}} </li>
  </ul>

<button id={{id}} class="Display Ballers"> Add {{given_name}} </button>



{{/each}}
